Name: <%= user.name %>
    <span class="profile-link">
      <%= link_to 'See My Profile',  user_path(user), class: 'profile-link' %>
    </span>
    <span>&nbsp</span>
    <span>&nbsp</span>
    <span class="profile-link">